<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="windowsService" type="System.Configuration.NameValueFileSectionHandler"/>
  </configSections>
  
  <windowsService>
    <add key="Name" value="_Test windows service"/>
  </windowsService>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
