<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testSet" type="Twidlle.Infrastructure.CustomConfigSection, Twidlle.Infrastructure.Base"/>
  </configSections>
  <testSet BaseDir="..\..\..\" Config="Debug">
    <Item ProjectDir="Core.Tests" FileName="Twidlle.AssemblyPacker.Core.Tests.exe"/>
    <Item ProjectDir="CmdLineApp.Tests" FileName="Twidlle.AssemblyPacker.CmdLineApp.Tests.exe"/>
    <Item ProjectDir="WinFormsApp.Tests" FileName="Twidlle.AssemblyPacker.WinFormsApp.Tests.exe"/>
  </testSet>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
