<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Twidlle.AssemblyPacker.CmdLineApp" switchValue="All">
        <listeners>
          <add name="" type="NLog.NLogTraceListener, NLog" />
        </listeners>
      </source>
      <source name="Twidlle.AssemblyPacker.Core" switchValue="All">
        <listeners>
          <add name="" type="NLog.NLogTraceListener, NLog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
